.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 30px 0;
}

.pagination button {
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  background: #eee;
  cursor: pointer;
}

.pagination button.active {
  background: black;
  color: white;
}
