
.admin-layout {
  display: flex;
  min-height: 100vh;

}

/* Sidebar = 20% */
.admin-layout > :first-child {
  flex: 0 0 20%;
}

/* Content = 80% */
.admin-content {
  flex: 0 0 80%;
}


.page-container{
    margin-top: 1rem;
    
}
.page-container .roomsdekho-homepage{
    margin-top: -5rem;
}