.map-search {
  position: relative;
  margin-bottom: 10px;
}

.map-search input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.suggestions {
  position: absolute;
  top: 40px;
  width: 100%;
  background: white;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.suggestions li {
  padding: 8px 10px;
  cursor: pointer;
}

.suggestions li:hover {
  background: #f2f2f2;
}


.map-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-container {
  background: #fff;
  width: 90%;
  max-width: 600px;
  height: 550px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}

/* SEARCH stays on top */
.map-search {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* MAP takes remaining space */
.leaflet-container {
  flex: 1;
}

/* BUTTONS always visible */
.map-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid #ddd;
  background: #fff;
}

.confirm-btn {
  background: #007bff;
  color: white;
  padding: 8px 14px;
  border: none;
  cursor: pointer;
}
