/* =========================================
   PAGE WRAPPER
========================================= */

.search-page {
  padding: 24px;
  background: var(--bg-primary);
   container-type: inline-size;
  min-height: 100vh;
  
}

/* =========================================
   LAYOUT
========================================= */

.search-layout {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

/* =========================================
   DESKTOP FILTER
========================================= */

.desktop-filter {
  display: block;
}

/* =========================================
   CONTENT AREA
========================================= */

.search-content {
  flex: 1;
  /* min-width: 0; */
  width: 100% ;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 100vh;
  overflow-y: scroll;

  /* Hide scrollbar for Chrome, Edge, Safari */
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE and Edge */
}

.search-content::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}


/* =========================================
   RESULTS HEADER
========================================= */

.results-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results-header h2 {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-primary);
}

.result-count {
  font-size: 14px;
  color: var(--text-secondary);
}

/* =========================================
   EMPTY STATE
========================================= */

.empty-state {
  padding: 40px;
  text-align: center;
  background: var(--bg-secondary);
  border: 1px solid var(--border-primary);
  border-radius: 14px;
  color: var(--text-secondary);
}

/* =========================================
   END MESSAGE
========================================= */

.loader {
  text-align: center;
  padding: 16px;
  font-size: 13px;
  color: var(--text-tertiary);
}

/* =========================================
   MOBILE FILTER BUTTON
========================================= */

.mobile-filter-btn-wrapper {
  display: flex;
  justify-content: right;
}

.mobile-filter-btn {
  display: none;
  margin-bottom: 16px;

  padding: 10px 16px;
  border-radius: 10px;
  border: 1px solid var(--border-primary);
  background: var(--bg-secondary);
  color: var(--text-primary);
  font-weight: 500;
  cursor: pointer;
}

/* =========================================
   MOBILE DRAWER
========================================= */

.mobile-filter-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  display: flex;
  justify-content: flex-end;
}

.mobile-filter-drawer {
  width: 85%;
  max-width: 320px;
  background: var(--bg-primary);
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  box-shadow: var(--shadow-lg);
  animation: slideIn 0.5s ease-in-out;
  border-radius: 20px 0 0 20px;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

/* =========================================
   RESPONSIVE
========================================= */

@container (max-width: 992px) {

  .search-layout {
    flex-direction: column;
  }

  .desktop-filter {
    display: none;
  }

  .mobile-filter-btn {
    display: inline-block;
  }

  .search-page {
    padding: 16px;
  }
}